{% extends 'messagelocus/base.html' %}
{% block content %}
{% if orderjob_list %}
    <h4 class='active-header'>Order Jobs</h4>
    <table class='table table-hover table-striped' id='active-table-orderjobs'>
        <thead>
            <tr>
                <th scope="col">JobId</th>
                <th scope="col">Latest Event</th>
            </tr>
        </thead>
        <tbody>
        {% for job in orderjob_list %}
            <tr>
                <td><a href="/messagelocus/{{ job.JobId }}/">{{ job.JobId }}</a></td>
                <td>{{ job.latest_event }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
{% endif %}

{% if putawayjob_list %}
    
        <h4 class='active-header' id='active-h4-putawayjobs'>
            <label style='padding-right: 10px'>Putaway Jobs</label>
            <button class='btn btn-primary btn-sm' type='button' id='active-button-putaway-request'>Request</button>
        </h4>
    
    <table class='table table-hover table-striped' id='active-table-putawayjobs'>
        <thead>
            <tr>
                <th scope="col">JobId</th>
                <th scope="col">Latest Event</th>
            </tr>
        </thead>
        <tbody>
        {% for job in putawayjob_list %}
            <tr>
                <td><a href="/messagelocus/{{ job.JobId }}/">{{ job.JobId }}</a></td>
                <td>{{ job.latest_event }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if not orderjob_list and not putawayjob_list %}
    <p>No jobs are available.</p>
{% endif %}

    <div class="modal fade" id="active-modal-putaway-request" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form class='putaway-request' id='active-form-putaway-request'>
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">Putaway Job Request</h4>
                </div>
                <div class="modal-body">
                    <div class='putaway-request'>
                        <div class='putaway-request-licenseplate'>
                            <label class='putaway-request'>License Plate:</label>
                            <input type='entry' name='licenseplate' id='active-input-licenseplate'>
                        </div>
                        <div class='putaway-request-requestrobot'>
                            <label class='putaway-request'>Request Robot:</label>
                            <input type='entry' name='requestrobot' id='active-input-requestrobot'>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary submit" type="submit">Request Job</button>
                    <button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
      </div>
    </div>

{% endblock %}