{% extends 'messagelocus/base.html' %}

{% block content %}
	<h1>{{ JobId }}</h1>
	<br>
		<div id='jobview-div-job-info'>
			<h4 class='jobview-header'>Job Information</h4>
			<table class='table table-striped' id='jobview-table-job-info'>
			{% for key, value in job_data.items %}
				{% if key == 'id' or key == 'active' %}
				<tr style='display: none;'>
			    <td id='jobview-jobinfo-{{ key }}'>
			    	<label class='key'>{{ key }}: </label><label class='value'>{{ value }}</label>
			    </td>
				</tr>
				{% else %}
				<tr>
			    <td id='jobview-jobinfo-{{ key }}'>
			    	<label class='key'>{{ key }}: </label><label class='value'>{{ value }}</label>
			    </td>
				</tr>
			    {% endif %}
			{% endfor %}
			</table>
		</div>
		<br>

		<div>
			<h4 class='jobview-header'>Job Events</h4>
			<!-- comment line -->
			<form method='post' id='form-send-event'>
				{% csrf_token %}
				<!--<div class="dropdown">
					<span class="dropbtnsta">
					  	<button type='button' id='select-event'>--- Select Event --- &#11206;</button>
					</span>-->
	                <div id='jobview-div-job-events'>
	                  <select id="jobview-select-dropdown-event" class="form-select">
	                  	<option value="" selected disabled hidden>Select Event</option>
	                	<option>Accept</option>
	                    <option>Reject</option>
	                    <option>Induct</option>
	                    <option>Complete</option>
	                    <option>Cancel Complete</option>
	                    <option>Cancel Reject</option>
	                    <option>Update Complete</option>
	                    <option>Update Reject</option>
	                    {% if job_type == 'OrderJob' %}
					  		<option>Print</option>
					  	{% endif %}
	             		</select>
	                
					
				<button class='btn btn-primary btn-sm' type='submit' name='btn-send-event' id='jobview-btn-send-event'>Send</button>
				</div>
				<div id="div-induct-robot">
					<label id='lbl-induct-robot'>Robot: </label><input id='inp-induct-robot'type='entry' name='robot' value='{{ job_data.JobRobot }}'>
				</div>
			</form>
			
		</div>
		<br>
		<br>

<!-- Job Task Table -->
<!-------------------------------------------------------------------->
<h4 class='jobview-header'>Job Tasks</h4>
<table class="table table-hover table-striped" id='jobview-table-job-tasks'>
          <thead>
          <tr>
            <th scope="col">JobTaskId</th>
          </tr>
          </thead>
          <tbody>
			{% for form in formset %}
				<tr>
				 	<td><a type='button' class='btn-task-data'>{{ form.JobTaskId.value }}</a></td>
				</tr>
			{% endfor %}
          </tbody>
        </table>
	<br>

<!-- Job Event Table -->
<!-------------------------------------------------------------------->

<h4 class='jobview-header'>Event Log</h4>
<table class="table table-hover table-striped" id='jobview-table-job-events'>
          <thead>
          <tr>
            <th scope="col">Event Type</th>
            <th scope="col">Date</th>
            <th scope="col">Event Info</th>
          </tr>
          </thead>
          <tbody>
			{% for event in events %}
				<tr>
					<td>{{ event.EventType }}</td>
					<td>{{ event.JobDate }}</td>
					<td>{{ event.EventInfo }}</td>
				</tr>
			{% endfor %}
          </tbody>
        </table>
	<br>

	<button class='btn btn-outline-primary' id='jobview-btn-close-job'>
    	Close Job
	</button>

	{{ formset.management_form }}
	{% for form in formset %}
    <!-- Modal: Target System Credentials -->
    <div class="modal fade taskData" id="{{ form.JobTaskId.value }}" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
       		<form class='taskData' method="post" action='task/'>
          <!--<form class="form" role="form" action='/messagelocus/set_target_user/' method="post">-->
	            {% csrf_token %}
	            <div class="modal-header">
	             	<h4 class="modal-title">Task Data</h4>
	            </div>
	            <div class="modal-body">
	            	<div class='task-data'>
						{% for field in form %}
							{% if field.name == 'SerialNo' %}
							{% else %}
				        	<span>
				        		<label class='task-data' for="{{ field.auto_id }}">{{ field.name }}:</label> {{ field }}
				        	</span>
				        	{% endif %}
				    	{% endfor %}
			    	</div>
			    	<div class='task-sn-capture' style='display: none;'>

			    	</div>
	            </div>
	            <div class="modal-footer">
	            	<button class="btn btn-primary submit taskSend" type="submit">Send Task</button>
	            	<button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
	            </div>
        	</form>
        </div>
      </div>
    </div>
    {% endfor %}

{% endblock %}