{% extends 'messagelocus/base.html' %}
{% block content %}
	<div class="login-wrapper">
		<form action="/messagelocus/login/" method="post">
			{% csrf_token %}
			<div>
				<label class='system-auth' for="name">Username:</label>
				<input type='text' id='username' name='username'>
			</div>
			<div style='padding-bottom: 5px'>
				<label class='system-auth'for="mail">Password:</label>
				<input type='password' id='password' name='password'/>
			</div>
			<div id='login-div-buttons'>
				<button class='btn btn-primary' type='submit'>Log in</button>
			<div>
		</form>
	</div>

{% endblock %}