<!-- index.html -->
{% extends 'core/base.html' %}
{% block content %}
<h4>Quick Start</h4>
            <ul>
              {% for service in services %}
                <li class="nav-item">
                  <button class="nav-link" type="button">
                    <label>{{ service.service }}</label>
                  </button>
                </li>
                <div>
                  <li class='nav-item list-item-sub1'>
                    <ul class="navbar-nav" style='padding-left: 20px'>
                      {% for system in service.systems %}
                        <li class="nav-item">
                          <a href='/{{ service.app }}/{{ system.system.system }}/active/'>{{ system.system.system }}: {{ system.system.name }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                </div>
                <br>
            {% endfor %}
            </ul>
{% endblock %}