<!-- login.html -->
{% extends 'core/base.html' %}
{% block content %}
	<div class="login-wrapper">
		<form action="/login/" method="post">
			{% csrf_token %}
			<div class='system-auth'>
				<label for="name">Username:</label>
				<input type='text' id='username' name='username'>
			</div>
			<div class='system-auth'>
				<label for="mail">Password:</label>
				<input type='password' id='password' name='password'/>
			</div>
			<div id='login-div-buttons'>
				<button class='btn btn-primary' type='submit'>Log in</button>
			</div>
		</form>
		<a href='/register'>New User</a>
	</div>
{% endblock %}