/* static/css/main.css */

/* ----------- element styles ----------- */

tr {
   line-height: 12px;
   min-height: 12px;
   height: 12px;
}


/* ----------- class styles ----------- */

.site-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.putaway-header { 
  width: 100%;
}

.navbar>.container {
  justify-content: left !important  ;
  flex-wrap: nowrap !important;
}

.modal {
  overflow: hidden !important;
}

.modal-content, .modal-dialog {
  max-width: fit-content !important;
}

.task-sn-capture{
  display: grid;
}

.jobview-header, .active-header, .closed-header {
  border-bottom: solid;
  border-bottom-width: thin;
  border-bottom-color: black !important;
  width: 100%;
}

.base-label-username {
  padding-right: 5px;
}

.nav-item { 
  padding-right: 5px;
}

.taskData input {
  max-height: 22px;
}


/* ----------- id styles ----------- */

#active-table-orderjobs label,
#active-table-putawayjobs label,
#jobview-table-job-tasks label, 
#jobview-table-job-events label { 
  min-width: max-content;
  padding-right: 20px;
 }

#div-induct-robot {
  padding-top: 5px;
  display: none;
}

#lbl-induct-robot {
  padding-right: 5px;
}

#base-input-navbar-search {
    width: 200px;
    max-height: 32px;
}

#jobview-table-job-tasks {
  max-height: 200px;
  margin-bottom: 5px;
}

#active-table-orderjobs, #active-table-putawayjobs {
  margin-bottom: 5px;
}

#jobview-div-job-info label.key {
  min-width: 145px;
}

#jobview-div-job-info {
  width:100%;
  justify-content: left;
}

#jobview-div-job-events {
  display: flex;
}

#jobview-select-dropdown-event {
  max-width: 200px;
}

#active-h4-putawayjobs {
  display: inline-flex;
}

#active-button-putaway-request {
  max-height: 30px;
  align-self: center;
}

#login-div-buttons { 
  display: flex;
  justify-content: flex-end;
}

#base-ul-active-users li {
  display: flex;
  align-items: center;
}

#base-ul-active-users a {
  padding-right: 0px;
  padding-left: 0px;
}

#base-div-user-controls {
  padding-top: 6px;
  padding-right: 10px;
  align-items: flex-start;
  display: flex;
}

#base-div-nav-items-right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-self: normal;
}

#base-div-nav-items-left {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#active-label-putaway-header, #active-label-order-header {
  padding-right: 10px;
  padding-bottom: 5px;
}

#base-div-user-credentials {
  padding-top: 10px;
}

#base-form-search .input-group {
  flex-wrap: nowrap;
}

#base-ul-active-users .base-user-delete { 
  display: flex;
  width: 100%;
  justify-content: flex-end;
}


/* ----------- selector styles ----------- */

.btn-outline-dark:hover, .btn-outline-dark:focus, .btn-outline-dark:active {
  background-color: rgba(0, 0, 0, 0.075) !important;
}

#base-ul-active-users:hover {
  background-color: white;
}


/* ----------- other styles ----------- */

button.btn-delete-user {
  padding: 2px !important;
  display: flex;
}

button.btn.btn-outline-dark {
  max-height: 32px;
  display: flex;
  align-items: center;
}

.putaway-request-licenseplate, div.system-auth { 
  padding-bottom: 3px;
}

label.task-data {
  min-width: 128px;
}

label.putaway-request { 
  min-width: 115px;
}

div.system-auth label {
  min-width: 80px;
}

div.login-wrapper {
  max-width: fit-content;
}

li.nav-item {
  display: flex;
  align-items: center;
}

.taskData div.modal-body {
  display: flex;
  justify-content: left;
}

div.task-data, div.task-sn-capture {
  display: inline-block;
  padding-right: 50px;
}

div.task-data span {
  display: flex;
}