/* static/css/main.css */

/* ----------- element styles ----------- */

tr {
   line-height: 12px;
   min-height: 12px;
   height: 12px;
}

th {
  position: sticky; top: 0; z-index: 1;
}

nav { 
  background-color: darkslateblue;
}

th label { 
  font-weight: 600;
 }


/* ----------- class styles ----------- */

.site-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.putaway-header { 
  width: 100%;
}

.navbar>.container {
  justify-content: left !important  ;
  flex-wrap: nowrap !important;
}

.modal {
  overflow: hidden !important;
}

.modal-content, .modal-dialog {
  max-width: fit-content !important;
}

.task-sn-capture {
  display: grid;
  padding-left: 50px;
}

.jobview-header, .active-header, .closed-header {
  border-bottom: solid;
  border-bottom-width: thin;
  border-bottom-color: var(--bs-heading-color) !important;
  width: 100%;
}

.base-label-username {
  padding-right: 5px;
}

.nav-item { 
  padding-right: 5px;
}

.taskData input {
  max-height: 22px;
}

.modal-error {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  color: red;
}

.task-sn-input-row { 
  display: flex;
  padding-bottom: 2px;
}

div.task-data label, 
div.task-data input,
div.task-sn-input-row button, 
div.task-sn-input-row input { 
  max-height: 22px;
  display: flex;
  align-items: center;
}

label.table-data { 
  align-items: center;
  min-height: 24px;
}

/* ----------- id styles ----------- */

#base-div-nav-brand {
  display: flex;
}

#active-div-table-orderjobs label,
#active-div-table-putawayjobs label,
#closed-div-table-orderjobs label,
#closed-div-table-putawayjobs label,
#jobview-table-job-tasks label, 
#jobview-table-job-events label { 
  min-width: max-content;
  padding-right: 20px;
  display: flex;
 }

#active-div-table-orderjobs, 
#active-div-table-putawayjobs,
#closed-div-table-orderjobs, 
#closed-div-table-putawayjob,
#jobview-div-table-job-tasks,
#jobview-div-table-job-events,
#jobview-table-job-info { 
  font-size: 14px;
 }

#jobview-table-job-tasks td { 
  padding-top: 4px;
  padding-bottom: 4px;
}

#div-induct-robot {
  padding-top: 5px;
  display: none;
}

#lbl-induct-robot {
  padding-right: 5px;
}

#base-input-navbar-search {
  width: 200px;
  max-height: 32px;
  border-color: #0dcaf0;
}

#jobview-div-table-job-tasks, #jobview-div-table-job-events {
  max-height: 200px;
}

#jobview-table-job-tasks, #jobview-table-job-events {
  margin-bottom: 5px;
}

#active-div-table-orderjobs, 
#active-div-table-putawayjobs,
#closed-div-table-orderjobs, 
#closed-div-table-putawayjobs {
  max-height: 325px;
  margin-bottom: 5px;
}

.active-div-table-wrapper, .closed-div-table-wrapper {
  height: 325px;
}


#jobview-div-job-info label.key {
  min-width: 145px;
  font-weight: 600;
}

#jobview-div-job-info {
  width:100%;
  justify-content: left;
}

#jobview-div-job-events {
  display: flex;
}

#jobview-select-dropdown-event {
  max-width: 500px;
}

#active-h4-putawayjobs {
  display: inline-flex;
}

#active-button-putaway-request {
  max-height: 24px;
  display: flex;
  align-self: center;
  align-items: center;
}

#login-div-buttons { 
  display: flex;
  justify-content: flex-end;
}

#base-ul-active-users li {
  display: flex;
  align-items: center;
}

#base-ul-active-users a {
  padding-right: 0px;
  padding-left: 0px;
}

#base-div-user-controls {
  padding-top: 4px;
  padding-right: 10px;
  align-items: flex-start;
  display: flex;
}

#base-div-nav-items-right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-self: normal;
}

#base-div-nav-items-left {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#active-label-putaway-header, #active-label-order-header {
  padding-right: 10px;
  padding-bottom: 5px;
}

#base-div-user-credentials {
  padding-top: 10px;
}

#base-form-search .input-group {
  flex-wrap: nowrap;
}

#base-ul-active-users .base-user-delete { 
  display: flex;
  width: 100%;
  justify-content: flex-end;
}


/* ----------- selector styles ----------- */





/* ----------- other styles ----------- */

@media (min-width: 1800px) {
    .container{
        min-width: 1800px;
    }
}

button.btn-delete-user {
  padding: 2px !important;
  display: flex;
  font-size: 12px;
}

button.btn-outline-info {
  max-height: 32px;
  display: flex;
  align-items: center;
}

button.navbar-toggler { 
  align-self: center;
  max-height: 30px;
  display: flex;
  align-items: center;
  border-color: #0dcaf0;
}

button.sn-validate { 
  display: flex;
  align-items: center;
  min-width: 32px;
  justify-content: center;
}

button.button-table-data { 
  max-height: 24px;
  align-items: center;
  display: flex;
}

.putaway-request-licenseplate, div.system-auth { 
  padding-bottom: 3px;
}

label.task-data, .task-sn-capture-label {
  min-width: 132px;
  font-weight: 600;
}

label.putaway-request { 
  min-width: 115px;
}

div.system-auth label {
  min-width: 80px;
}

div.login-wrapper {
  max-width: fit-content;
}

li.nav-item {
  display: flex;
  align-items: center;
}

.taskData div.modal-body {
  display: flex;
  justify-content: left;
}

div.task-data {
  display: inline-block;
}

div.task-data span {
  display: flex;
  padding-bottom: 2px;
}