/* static/css/main.css */

/* ----------- element styles ----------- */
table {
  display: block;
  width: 100%;
  border: 1px solid #000;
  min-width: 800px;
  overflow-x: auto;
  
}

th, td {
  padding-left: 5px;
}


/* ----------- class styles ----------- */
.key {
  padding-right: 5px;
  font-weight: bold;
}

.job-events { 
  max-height: 400px;
  overflow-y: auto;
 } 

.site-content {
  padding-top: 5rem;
}

.putaway-header { 
  display: inline-flex;
  align-items: center;
 }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: static;
  display: inline-block;
  vertical-align: middle;
  align-items: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content, .dropdown-status {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: inherit;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a, .dropdown-status button {
  color: black;
  padding: 8px 10px;
  display: block;
  margin-right: auto;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover, .dropdown-status button:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover
.dropdown:hover .dropdown-content, .dropdown:hover .dropdown-status {
  display: block;
} */

/* Change the background color of the dropdown button when the dropdown content is shown  */
/*.dropdown:hover .dropbtnsys, .dropdown:hover .dropbtnsta {
  background-color: #AED6F1;
  cursor: pointer;
}*/

.option {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.nav-item{
  padding-right: 10px;
  padding-left: 10px;
}


/* ----------- id styles ----------- */

#select-system {
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.55);
}

#select-system:hover {
  color: rgba(255, 255, 255, 0.75);
}

#div-induct-robot {
  padding-top: 5px;
  display: none;
}

#lbl-induct-robot {
  padding-right: 5px;
}

#select-event, #div-dropdown-status button {
  min-width: 200px;
}

#select-system, #div-dropdown-system button {
  min-width: 65px;
}

#navbar-items-right{
  justify-content: right;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

#putaway-request { 
  padding-left: 10px;
 }

 #order-job-list, #putaway-job-list { 
  max-height: 400px;
  overflow-y: auto;
 }

 #table-job-events td, #table-job-events th, #table-order-job th, #table-putaway-job th, #table-order-job td, #table-putaway-job td {
  padding-left: 5px;
  padding-right: 5px;
}